/************* HOJA DE ESTILO DEL EJERCICIO DE HALLOWEEN ************/
/************* 2º SMR - CURSO 2021/2022 *****************************/
/************* AUTOR: ADRIÁN PEROGIL FERNÁNDEZ **********************/

@font-face {
    font-family: 'Letra1';
    src: url("../fonts/Tombstone-Demo.ttf");
}

@font-face {
    font-family: 'Letra2';
    src: url("../fonts/Scary\ Halloween\ Font.ttf");
}

/* SIN USAR */
@font-face {
    font-family: 'Letra3';
    src: url("../fonts/FREAKY\ HALLOWEEN.ttf");
}

/* SIN USAR */
@font-face {
    font-family: 'Letra4';
    src: url("../fonts/CFHalloween-Regular.ttf");
}

body {
    background-color: black;
    font-family: Letra2;
}

#container {
    position: relative; /* Podrá moverse de sitio el container */
    width: 1920px;
    height: 1080px;
    background-image: url("../images/fondo1.jpg");
    padding: 0px 0px;
    margin: 80px auto;
    color: white;
    font-size: 3em;
}

#p1 {
    padding: 20px 0 0 80px;
    margin: -40px;
    text-shadow: 3px 3px 3px orange;
}

#p2 {
    position: relative;
    top: 65%;
    left: 5%;
    margin: 0px;
    font-family: Letra1;
    font-size: 120%;
    text-shadow: 3px 3px 3px orange;
}

#p3 {
    position: relative;
    top: 30%;
    left: 49%;
    margin: 0px;
    font-family: Letra1;
    font-size: 80%;
    text-shadow: 3px 3px 3px orange;
}

#p4 {
    position: relative;
    top: -10%;
    left: 30%;
    margin: 0px;
    font-family: Letra1;
    font-size: 100%;
    text-shadow: 3px 3px 3px orange;
}

#Calabaza1 {
    position: absolute;
    left: 765px;
    top: 720px;
    border: 1px solid rgba(255, 255, 255, 0);/* Luego lo quito */
    width: 85px;
    height: 82px;
}

#Calabaza2 {
    position: absolute;
    left: 658px;
    top: 790px;
    border: 1px solid rgba(255, 255, 255, 0);/* Luego lo quito */
    width: 100px;
    height: 110px;
}

#Calabaza3 {
    position: absolute;
    left: 550px;
    top: 670px;
    border: 1px solid rgba(255, 255, 255, 0);/* Luego lo quito */
    width: 85px;
    height: 90px;
}

#lapida {
    position: absolute;
    left: 1002px;
    top: 550px;
    border: 1px solid rgba(255, 255, 255, 0);/* Luego lo quito */
    width: 60px;
    height: 80px;
}

#bruja {
    position: absolute;
    left: 750px;
    top: 100px;
    border: 1px solid rgba(255, 255, 255, 0);/* Luego lo quito */
    width: 150px;
    height: 150px;
}

#bruja1 {
    position: absolute;
    right: 900px;
    top: 50px;
    width: 150px;
    height: 150px;
    visibility: hidden;
}

#ghost {
    position: absolute;
    right: 750px;
    top: 500px;
    width: 100px;
    height: 100px;
    visibility: hidden;
}